// 字体颜色
@f-focus :#ffba00 ;
@f-dark1 : #333;
@f-dark2 : #666;
@f-gray1:#bbb;
@f-white:#fff;
@f-price:#ff165d;
@f-link:#00a2ff;








// 背景颜色
@bg-focus:#ffba00 ;
@bg-body : #f3f3f3;
@bg-white:#fff;


//边框颜色
@border：#eee;
@line:#ccc;



// 字体大小
@fz-title:20px;
@fz-s:14px;




// 版心







