// 字体颜色
@f-main :#ffba00 ;
@f-color000 :#000;
@f-color333 :#333;
@f-color222 :#222;
@f-color666 :#666;
@f-color999 :#999;
@f-coloreee :#eee;
@f-white:#fff;
@f-rosered:#ff165d;
@f-red:#ff0000;









// 背景颜色
@bg-main:#ffba00 ;
@bg-body : #f3f3f3;
@bg-red : #ff0000;
@bg-white:#fff;
@bg-rosered:#ff165d;






// 字体大小
@fz-ss: 12px;
@fz-s: 14px;
@fz-m: 16px;
@fz-mx: 18px;
@fz-l: 24px;
@fz-lx: 30px;





